extend ../layouts/common

block container
  .form-login
    form(method='POST')
      h2.form__heading Đặt Lại Mật Khẩu
      if errs
        each err in errs
          .alert-danger= err
      .form__row
        input.form__input(
          type='password' required='' name='password' 
          placeholder='Mật khẩu mới', value= values ? values.password : ''
        )
        input.form__input(
          type='password' required='' name='confirm' 
          placeholder='Nhập lại mật khẩu',
        )
      .form__row
        input.btn.btn-submit(type='submit' value='Xác nhận')